/Results/PLMs/4. Continual Learning Experiments/Sequential FT
/Results/PLMs/5. HyperParams Searches/DUMP
/Results/PLMs/4. Continual Learning Experiments/EARLY STOPPING/DUMP
/Results/PLMs/4. Continual Learning Experiments/NO EARLY STOPPING/DUMP
Results/PLMs/1. Baseline FT/finetuning
/Paper Repo/Comparison with other similar Papers/Comparable Papers/Qian et al
Results/0. Baselines from previous paper/PAPER OVERVIEW - WHAT DID YOU LEARN TO HATE.md
/Results/0. Baselines from previous paper
/Results/z. 2nd Experiments - Latent Hatred/ADAPTERS/Adapter_meta-llama-Llama-3.2-3B-Instruct_LoRA_16_explicit_hs
/Results/z. 2nd Experiments - Latent Hatred/ADAPTERS
Paper Repo/CL Initial Surveys/Wang-ML-Lab_llm-continual-learning-survey_ Continual Learning of Large Language Models_ A Comprehensive Survey - A LOT OF PAPERS INSIDE.pdf
/Results/z. 2nd Experiments - Latent Hatred/1. Zero shot Baseline
/Results/z. 2nd Experiments - Latent Hatred
